.tech-section {
    display: flex;
    align-items: stretch; 
    margin-top: 20px;
    margin-bottom: 100px;
    background-color:  #A5D2F626;
    
  
  }
  
  .tech-header {
    border: 1px solid black;
    height: 600px; 
    width: 50%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 100%, transparent 80%), url('../../Images/disc.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding: 20px;
  }
  
  .over-write1{
    color: white;
    font-size: 20px;
    
    text-transform: uppercase;
    
   margin-top: 500px;
    padding: 10px 20px;
    
    
    font-family: sans-serif; 
    margin-left: 20px;
    
  
  }
  
  .tech-header p {
    color: white;
    font-size: 30px;
    margin-left: 30px;
  }
  
  .tech-content {
    flex: 1; 
    padding: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    font-family: sans-serif;
    margin: 40px;
  }
  
  
  .tech-content h3 {
    color: rgb(88, 86, 86);
    font-size: 55px;
    margin-bottom: 60px; 
    margin-left: 90px;
    font-weight: normal;
  }
  
  /* .tech-content {
    margin-right: 80px;
    justify-content: center;
    
  } */
  
  .tri{
    display: flex;
    flex-direction: row;
  
  }
  .resp1,.resp2,.resp3{
  
    font-size: 35px;
    margin-top: 11px;
    font-weight: normal;
    color: #656565
  }
  
  
  
  
  
  .tech-content p {
    color: rgb(110, 108, 108);
    font-size: 20px;
    margin-right:40px ;
    margin-bottom: 50px;
  }
  
  .icon-text {
    display: flex;
    align-items: center; 
    margin-top: 10px;
  }
  
  .icon-text img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  

  

  @media (min-width: 1300px) and (max-width: 1688px) {
    .tech-section {
      margin-top: 10px;
      margin-bottom: 80px;
    }
  
    .tech-header {
      height: 550px;
      width: 55%; /* Slightly adjusted for better layout */
      padding: 15px;
    }
  
    .over-write1 {
      font-size: 18px;
      margin-top: 450px;
      margin-left: 15px;
      padding: 8px 18px;
    }
  
    .tech-header p {
      font-size: 28px;
      margin-left: 25px;
    }
  
    .tech-content {
      padding: 25px;
     margin: 30px;
    }
  
    .tech-content h3 {
      font-size: 45px;
      margin-bottom: 50px;
      margin-left: 80px;
    }
  
    .resp1, .resp2, .resp3 {
      font-size: 18px;
      margin-top: 10px;
    }
  
    .tech-content p {
      font-size: 18px;
      margin-right: 30px;
      margin-bottom: 40px;
    }
  
    .icon-text img {
      width: 18px;
      height: 18px;
      margin-right: 15px;
    }
  }
  

  @media (max-width: 1500px) {
    .tech-content h3 {
      font-size: 40px; 
      margin-left: 50px;
      white-space: nowrap; 
    }
  }
  