.textbox-section {
   
    background-image: url("../../Images/disc.png"); 
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .textbox-content {
    width: 100%;  
    max-width: 10000px; 
    height: 90vh; 
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 40px; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .textbox-content h1 {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: sans-serif;
    
  }
  
  .textbox-content h2 {
    font-size: 90px;
    font-style: italic;
    color: #EECD20;
    margin-bottom: 15px;
   
  }
  
  .textbox-p1 {
    /* font-size: 20px;
    line-height: 1.6;
    margin-top: 10px; */
   
   
    
    font-size: 20px;
    line-height: 1.6;
    margin: 10px auto;          
    max-width: 600px;          
    text-align: center;          
    font-family: sans-serif;
  
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .btn {
    padding: 12px 24px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn-primary {
    background: white;
    color: black;
    border: none;
  }
  
  .btn-secondary {
    background: transparent;
    color: white;
    border: 2px solid white;
  }
  
  
  h1 {
    font-size: 32px;
    margin-bottom: 5px;
  }
  
  .subheading {
    font-size: 24px;
    font-style: italic;
    color: #f7c08a;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
  }
  
  .btn-primary {
    background: white;
    color: black;
  }
  
  .btn-secondary {
    background: transparent;
    color: white;
    border: 1px solid white;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  











  @media (min-width: 1440px) and (max-width: 1688px) {
    .textbox-section {
        min-height: 75vh;
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .textbox-content {
        height: 80vh;
        padding: 30px;
    }

    .textbox-content h1 {
        font-size: 70px;
        margin-bottom: 10px;
    }

    .textbox-content h2 {
        font-size: 70px;
        margin-bottom: 10px;
    }

    .textbox-p1 {
        font-size: 22px;
        max-width: 500px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }

    .button-container {
        margin-top: 15px;
    }
}


