.header3  .nav-links li a ,.home li a{
 
    color: rgb(112, 182, 240);
  }
  
  
  .header3 .nav-links li a:hover{
    cursor: pointer;
    color: gray;
  }
  
  .header3 .join {
    padding: 10px 22px; 
    background-color: #FFFF;
    color: rgb(33, 197, 219);
    border: 2px solid #4a90e2; 
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
  
  }
  
  .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    
  }
  
  .text {
    font-size: 70px;
    color: #6ea8e2;
    margin-left: 90px;
    
  
  }
  
  .italic-text {
    font-style: italic;
    font-weight: bold;
    color: #f1c40f;
    font-size: 70px;
    margin-left: 10px;
  }
  
  
  .aboutpageimg{
    margin-right: 200px;
    margin-bottom: 30px;
   
  
  }
  .image-style {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  
/* 
  .join{
    background-color: white;
    color: rgb(33,197,219);
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 22px; 
   } */
    