
  .aboutservicepage{
   font-family: sans-serif;
   color: rgb(93, 90, 90);
   padding-left: 250px ;
   padding-right: 250px;
   font-size:22px;
   margin-top: 50px;
   margin-bottom: 50px;
   text-align: justify;
  }
  
  