
.header1{
   background-color: #77B5FE;
}
.header1  .home a{
  color: white;
}


.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  height: 70px;
  text-decoration: none;
  background-color: transparent;
}




.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 50px;
  margin-right: 100px;
  margin-top: 30px;
  font-family: sans-serif;
  text-decoration: none;
  
 
}

.join-us-nav {
  padding: 10px 30px;
  background-color: #FFFF;
  color: rgb(33, 197, 219);
  border: 8px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 25px;
  height: 20px;
  width: 170px;
  text-decoration: none;
}
 

ul li a {
  text-decoration: none;
  color: rgb(255, 249, 249);
}

.home li {
  list-style-type: none;
  margin-left: 90px;
  font-family: sans-serif;
  margin-top: 25px;
}

.home li a:hover {
  
  color: #656565;
 
 
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-circle-upar {
  width: 100px;
  height: 50px;  
  background-color: rgb(168, 165, 165); 
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
 
}
.half-circle-lower {
  width: 100px;
  height: 50px;  
  background-color: rgb(168, 165, 165); 
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  rotate: 180deg;
}



.nav-links li a:hover {
 color: #656565;
}









.paragraph1 {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 60px;
  margin-top: 100px;
  margin-left: 130px;
  color: #FFFF;
  padding-left: 20px;
  font-family: sans-serif;
  margin-right: 50px;
  padding-right: 50px;
  display: flex;
  text-align: justify;

}







.about-container{
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
  margin-top: 150px;
  margin-left: 60px;
}




.about-title1 {
  font-size: 22px;
  width: 200px;
  color:#656565;
  font-family: sans-serif;
  margin-right: 200px;
  margin-top: 8px;
 
}


.team-underline1{
  margin-top: 1px;
  margin-bottom: 6px;
  display: block;  
  width: 80%;  
  height: 2px;  
  background-color: #e4e6ea;  
}

.about8{
 
   
  width: 15 rem;  
  height: 12px;  
  background-color: #0c0c0c;

    

}

.team-underline3{

  margin-top: 1px;
  margin-bottom: 6px;
  display: block;  
  width: 80%;  
  height: 2px;  
  background-color: #e4e6ea;  

}


.team-underline4{
  margin-top: 1px;
  margin-bottom: 6px;
  display: block;  
  width: 80%;  
  height: 2px;  
  background-color: #e4e6ea;  



}
.about-subtitle {
  margin-left: 50px;
  margin-right: 100px;
  color: gray;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
}

.about-description{
  margin-left: 135px;
  padding-left: 30px; 
}


.about-des-p1 {
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
  font-family: sans-serif;
  text-align: justify;   
}


.about-des-p2 {
color: #656565; 
font-family: sans-serif;
font-size: 25px;
text-align: justify;

}


.about-link a {
  margin-top: 20px;
  color: #3b82f6;
  text-decoration: none;
  font-size: 18px;
  text-decoration: underline;
  
}

.about-link a:hover {
  color: #2563eb;
}










.services-container{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-left: 60px;
  
}
.about-title {
  font-size: 22px;
  color: #656565;
  
  position: relative;
  display: inline-block;
  padding-bottom: 10px; 
  font-family: sans-serif;
  
}

.underLine {
  content: "";
  position: absolute;
  left: 0px; 
  right: -170px;
  bottom: 0;
  height: 2px; 
  background-color: #656565; 
}







.card{
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top:25px;
  padding: 20px;
  width: 500px;
  height: 450px;
  border-radius: 1px;
  overflow: hidden;
  background-color:#A5D2F626;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}
.card h2{
  color: rgb(75, 74, 74);
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  font-family: sans-serif;
  
}
.card h3{
  color: gray;
  margin-bottom: 15px;
  text-decoration: underline;
  margin-left: 10px;
  font-family: sans-serif;
}

.card p{
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: 10px;
  font-family: sans-serif;
  text-align: justify;
}

.card ul li{
  margin-top: 40px;
  font-size: 18px;
  margin-left: 28px;
}

.service-card{
  width: 100%;
  padding-left: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 135px;
  margin-bottom: 50px;
 
  
}













.tech-section {
  display: flex;
  align-items: stretch; 
  margin-top: 20px;
  margin-bottom: 100px;
  background-color:  #A5D2F626;
  ;

}

.tech-header {
  border: 1px solid black;
  height: 600px; 
  width: 50%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 100%, transparent 80%), url('Images/disc.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding: 20px;
}

.over-write1{
  color: white;
  font-size: 20px;
  
  text-transform: uppercase;
  
 margin-top: 500px;
  padding: 10px 20px;
  
  
  font-family: sans-serif; 
  margin-left: 20px;
  

}

.tech-header p {
  color: white;
  font-size: 30px;
  margin-left: 30px;
}

.tech-content {
  flex: 1; 
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin-top:70px ;
  margin-left: 40px;
  font-family: sans-serif;
}



.tech-content h3 {
  color: rgb(88, 86, 86);
  font-size: 50px;
  margin-bottom: 40px; 
  margin-left: 90px;
  font-weight: normal;
}

/* .tech-content {
  margin-right: 80px;
  justify-content: center;
  
} */

.tri{
  display: flex;
  flex-direction: row;

}
.resp1{

  font-size: 35px;
  margin-top: 11px;
  font-weight: normal;
  color: #656565;

 
  

}



.resp2{
  font-size: 35px;
  margin-top: 11px;
  font-weight: normal;
  color: #656565;
  
}



.resp3{
  font-size: 35px;
  margin-top: 11px;
  font-weight: normal;
  color: #656565;
}

.tech-content p {
  color: rgb(110, 108, 108);
  font-size: 20px;
  margin-right:40px ;
  margin-bottom: 50px;
}

.icon-text {
  display: flex;
  align-items: center; 
  margin-top: 10px;
}

.icon-text img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}




.partner-heading {
  margin-left: 50px;
  margin-bottom: 110px;
  font-size: 22px;
  font-family: sans-serif;
  color: #656565;
}

.partner-list {
  text-align: center;

}

.partner-item {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.partner-item img {
  width: 100px;
  height: 80px;
  margin-right: 20px; 
}

.brand-name {
  font-size: 18px;
  font-family: sans-serif;
  color: black;
  font-weight: bold;
}

.divider-line {
  display: block;  
  width: 100%;  
  height: 2px;  
  background-color: #e4e6ea;  
}





.main-news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  /* margin-right: 80px; */
}

.news-item{
  width:500px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f8f9fa;
  text-align: left;
}



.news-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.news-content {
  padding: 20px;
 
}

.arti-time{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: #656565;
}

.news-content-p1{
  font-family: sans-serif;
  color: #656565;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 15px;
}


.news-content-p2{
  font-family: sans-serif;
  color: #656565;
  font-size: 15px;
  text-align: justify;
}

.news-section{
  margin-top: 150px;
  text-align: left;
  margin-left: 50px; 
}

.til{
  font-size: 22px;
  color: #656565;
  font-family: sans-serif;
  margin-bottom: 120px;
}

.about-link-1 a{
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  font-family: sans-serif;
  margin-top: 30px;

}







.textbox-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  margin-top: 150px;
  margin-bottom: 150px;
}
.textbox-content {
  width: 100%;  
  max-width: 10000px; 
  height: 90vh; 
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 40px; 
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textbox-content h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: sans-serif;
  
}

.textbox-content h2 {
  font-size: 90px;
  font-style: italic;
  color: #EECD20;
  margin-bottom: 15px;
 
}

.textbox-p1 {
  /* font-size: 20px;
  line-height: 1.6;
  margin-top: 10px; */
 
 
  
  font-size: 20px;
  line-height: 1.6;
  margin: 10px auto;          
  max-width: 600px;          
  text-align: center;          
  font-family: sans-serif;

}

.button-container {
  margin-top: 20px;
}

.btn {
  padding: 12px 24px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.btn-primary {
  background: white;
  color: black;
  border: none;
}

.btn-secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}


h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.subheading {
  font-size: 24px;
  font-style: italic;
  color: #f7c08a;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.btn-primary {
  background: white;
  color: black;
}

.btn-secondary {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.btn:hover {
  opacity: 0.8;
}






.footer-section {
  background-color: #77B5FE;
  color: white;
  padding: 50px 50px;

}

.footer-container {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin-bottom: 80px;
  margin-top: 20px;

}

.footer-brand p {

  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  margin-left: 100px;
  font-family: sans-serif;

}

.footer-info {
 text-align: left;
 margin-left: 400px;
}

.footer-info h4 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: sans-serif;
  margin-top: 20px;
}

 .footer-underline {
  margin-top: 4px;
  margin-bottom: 6px;
  display: block;  
  width: 150%;  
  height: 2px;  
  background-color: #e4e6ea;  
  
 }

.footer-info ul {
  list-style: none;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 100px;
  margin-top: 30px;
}

.footer-info ul li {
  margin-bottom: 15px;
  font-size: 25px;

}

.footer-info ul li a {
  color: white;
  text-decoration: none;
}

.footer-info ul li a:hover {
  text-decoration: underline;
}

.footer-location {
  display: flex;
  font-family: sans-serif;
  

  
}

.footer-location p {
  
   width: 250px;
   color: white;
   padding-left: 20px;
   font-size: 25px;
   margin-top: 20px;
  
  
}

.footericon{
  display: flex;
  flex-direction: row;
  margin-top: 310px;
  margin-left: 70px;
  font-size: small;
}





{/*SERVICE PAGE CSS*/}


.header2{
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Images/disc.png');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;  
  height: 80vh;
  background-color: #2563eb;
}
.service-container {
  width: 100%;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
}

.service-content {
  text-align: left;
 margin-right: 1500px;
 margin-top: 10px;
  
}

.service-content h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
 

}

.italic-text {
  font-size: 1.5rem;
  font-style: italic;
  color: yellow;
}









{/*about service page CSS*/}


 .header2 .home li a{
  color: white;
 }

.aboutservicepage{
 font-family: sans-serif;
 color: rgb(93, 90, 90);
 padding-left: 250px ;
 padding-right: 250px;
 font-size:22px;
 margin-top: 50px;
 margin-bottom: 50px;
 text-align: justify;
}



{/* Service page card CSS*/}



.feature-container {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  padding:60px;
  border-bottom: 1px solid #ccc;
  max-width: 100%;
}

.feature-image {
  
  margin-right: 60px;
  margin-left: 50px;
  height: 40vh;
}

.feature-image h2{
  font-size: 30px;
 
 font-family: sans-serif;
  font-weight: bold;
  color: rgb(93, 90, 90);
  margin-bottom: 40px;
  
}
.feature-image img {
  width: 250px;
  height:30vh;
  display: block;
  
}

.feature-content {

  font-size: 25px;
  flex:1;
  
  font-family: sans-serif;
  margin: 40px;
  padding: 30px;
  color: rgb(93, 90, 90);
}



.feature-content p {
  font-size: 22px;
  margin-bottom: 60px;

}

.feature-content ul {
 
  padding-left: 20px;
  font-size: 22px;
  margin-bottom: 20px;
}
.feature-content ul li{
  margin-bottom: 30px;
}


.aboutus-page-para{
  text-decoration: #2563eb;
}




{/* About us Page Css*/}

.header3  .nav-links li a ,.home li a{
 
  color: rgb(112, 182, 240);


}


.header3 .nav-links li a:hover{
  cursor: pointer;
  color: gray;
}

.header3 .join-us-nav {
  padding: 10px 30px;
  background-color: #FFFF;
  color: rgb(33, 197, 219);
  border: 2px solid #4a90e2; /* Corrected border */
  border-radius: 30px;
  cursor: pointer;
  font-size: 25px;
  height: 20px;
  width: 170px;
  text-decoration: none;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  
}

.text {
  font-size: 70px;
  color: #6ea8e2;
  margin-left: 90px;
  

}

.italic-text {
  font-style: italic;
  font-weight: bold;
  color: #f1c40f;
  font-size: 70px;
  margin-left: 10px;
}


.aboutpageimg{
  margin-right: 200px;
  margin-bottom: 30px;
 

}



.image-style {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  border-radius: 10px;
}







.mission-container {
  display: flex;
  flex-direction: row;
  background-color:#77B5FE;
  height:80vh;

  width: 100%; /* Makes the image fill the container width */
  height: auto; /* Keeps the aspect ratio */
  object-fit: cover; 

}



.mission-left{
  /* border: 1px solid black;
  height: 60vh;  
  width: 50%; 
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Img/disc.png');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat; */
/* 
  background: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Images/disc.png');
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;  
  height: 70vh;
  width: 50%;
  background-color: #2563eb;
  position: relative; */

  display: flex;
  position: relative;
  width: 200%;
  max-height: 700px;
  overflow: hidden;

 }


 .over-write{
  position: absolute;
  bottom: 10px;
  left: 20px;
  
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-left: 50px;
}


.mission-image{
  width: 80%;
}


.about-mission{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 24px;
  justify-content: center;
  
  margin-top: 120px;
  margin-bottom: 120px;
  margin-right: 50px;
  text-align: justify;
  padding-right: 130px;


}

.mission-right{
 
  color: white;
  padding: 30px;
  font-size:30px;
  padding-right: 50px;
  
  width: 100%;
  margin-right: 40px;
}
.subtext{
  color: white;
  font-size: 24px;
 margin-left: 25px;
  text-align: justify;
  word-spacing: 1px;

}














.bottom-section {
  background: #4a90e2;
  color: white;
  padding: 80px;
  font-size: 40px;
 bottom: top 20px;
 font-family: sans-serif;




}

.bottom-section h3{

 font-weight: normal;
 margin-right: 40px;


}




.card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align cards to the left */
  gap: 20px;
  padding: 50px;
   /* Add some padding around the card list */
   width: 100%;
  height: 100%;
  object-fit: cover;
  
}


.card-image{
  margin: 20px;
  height: 60vh;
  width: 700px;
}


.card-content
{
  font-size: 35px;
 
 font-weight: normal;
  padding-left: 20px;
  margin-top: 20px;
 
}


.about-carrd{
  font-size: 25px;
  margin-left: 40px;
  margin-top: 50px;

}

.cardAboutpage{
  display: flex;
  flex-direction: row;
}

.card2{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color:  rgba(101, 101, 101, 1);
 margin-left: 20px;
 padding-left: 40px;
 margin-top: 30px;

}


.aboutpagesection-underline{
  margin-top: 4px;
  margin-bottom: 6px;
  display: block;  
  width: 100%;  
  height: 2px;  
  background-color: #e4e6ea;  
}





{/* team css */}


.about-team{
  display: flex;
  flex-direction: row;
  font-size: 25px;
  color: rgba(101, 101, 101, 1);
  justify-content: center;
  padding: 20px;


}
.about-team-para{

 font-size: 25px;
 
 margin-right: 40px;
 font-family: sans-serif;
 margin-left: 80px;

 
}
.team{
  color: #656565;
  margin-left: 60px;
  font-family: sans-serif;
  font-weight: normal;

}
.team-underline{
  
    display: block;  
    height: 3px; 
    margin-left: 60px; 
    margin-right: 15px; 
    background-color: #e4e6ea;  
    width:200%;

}


.about-team h2{
  font-style: italic;
  color: #656565;
  width:300px;
  margin-left: 350px;
 
}

{/*card about page*/}


.about-team-card{
 
    display: flex;
    flex-direction: column;
    align-items:flex-end;
     margin-right: 10px;
     padding: 100px;

}

.about-main-news {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 29px;
  font-family: sans-serif;
  color: #656565;
  
}



.about-news-item {
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  text-align: left;
  font-size: 25px;
  color: #656565;

}

.about-news-image {
  /* background-color: #ba3c3c;
  width: 110%;
  height: 150px;
  object-fit: cover; */


  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
 
}



.about-news-content {
  padding: 8px;
}

.about-news-content p:first-child {
  font-weight: normal;
  font-size: 20px;
  color: #656565;
  
}

.teamcard-underline{
  display: block;  
  height: 3px; 
  margin-left:0px; 
  margin-right: 15px; 
  background-color: #e4e6ea;  
  width:200%;
 

 
}
.about-news-content h3{
  margin-top: 40px;
  font-weight: normal;
}

.about-news-content p{
   font-size: 18px;
   margin-top: 15px;

}